@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


#project-contributors {
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  background: linear-gradient(to right, #3F37C9, #560BAD, #B5179E);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  color: transparent;
}

.dark #project-contributors {
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  background: white;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  background-clip: text;
  color: transparent;
}

#meet-the-team-text {
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}



#main-header {
  background: linear-gradient(to right, #3F37C9, #560BAD, #B5179E);
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.dark #main-header {
  background: white;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  background-clip: text;
}



@layer components {
  .doc-link {
    @apply ease-linear transition duration-150 px-2 py-4 flex items-center mb-4 grow rounded-md hover:bg-[#E3E7FC] text-sm font-medium hover:text-indigo-700 dark:hover:text-[#9A81FF] dark:text-slate-200 dark:bg-slate-800 dark:hover:bg-slate-700;
  }
  .doc-link-active {
    @apply ease-linear transition duration-150 px-2 py-4 flex items-center mb-4 grow rounded-md bg-[#E3E7FC] text-sm font-medium text-indigo-700 dark:text-[#9A81FF] dark:bg-slate-700;
  }
  .doc-btn {
    @apply ease-linear transition duration-150 px-2 py-4 flex items-center mb-4 grow w-full rounded-md hover:bg-[#E3E7FC] text-sm font-medium hover:text-indigo-700;
  }
  .nav-link {
    @apply bg-white flex align-middle content-center font-medium text-sm my-2 md:my-0 mx-2 px-4 py-2 rounded-md ease-linear transition duration-150 hover:bg-[#E3E7FC] hover:text-indigo-700 dark:hover:text-[#9A81FF] dark:text-slate-200 dark:bg-slate-800 dark:hover:bg-slate-700;
  }
  .nav-link-active {
    @apply flex align-middle content-center font-medium text-sm mx-2 my-2 px-4 py-2 rounded-md ease-linear transition duration-150 bg-[#E3E7FC] text-indigo-700 dark:bg-slate-700 dark:text-[#9A81FF];
  }
  .basic-transition {
    @apply ease-linear transition duration-150;
  }
  .darkmode-background {
    @apply bg-[#0D1B2A];
  }
  .darkmode-text {
    @apply text-[#9A81FF];
  }
}